---
layout: default
---
{% include page-hero.html eyebrow="Blog" title_dark=page.title breadcrumb_parent="Blog" breadcrumb_parent_url="/blog/" breadcrumb_current=page.title show_breadcrumb=true %}
<article class="blog-post">
  <time class="blog-post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
  <p class="blog-post-author">Written by <a href="{{ '/team/hussain/' | relative_url }}">Hussain Ahmad</a></p>
  {% if page.image %}
  <div class="blog-post-featured-image">
    <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" width="1200" height="675">
  </div>
  {% endif %}
  <div class="blog-post-body">
    {{ content }}
  </div>
</article>
