---
layout: default
---
<article class="blog-post">
  {% include breadcrumbs.html parent="Blog" parent_url="/blog/" current=page.title %}
  <h1 class="blog-post-title">{{ page.title }}</h1>
  <time class="blog-post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
  {% if page.image %}
  <div class="blog-post-featured-image">
    <img src="{{ page.image | relative_url }}" alt="{{ page.title }}">
  </div>
  {% endif %}
  <div class="blog-post-body">
    {{ content }}
  </div>
</article>
